<% if notice %>
  <div class="alert alert-info" style="margin-top: 0px;">
    <a class="close" data-dismiss="alert">×</a>
    <strong><%= notice %></strong>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-error">
    <a class="close" data-dismiss="alert">×</a>
    <strong><%= alert %></strong>
  </div>
<% end %>